<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
<h2>Articles:</h2>
<%= @topic.post %>

<div>
  <h1>Edited by </h1>
  <% @topic.users.each do |user| %>
    <ul>
      <li><%= user.email %></li>
    </ul>
  <% end %>
</div>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
